header{
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(11, 12, 13);
    display:flex;
    align-items: center;
    justify-content:flex-start;
    margin-top: 0;
    box-sizing: border-box;
}

.hiddenSerach{
    display: none;
}

.headerItemSearch{
    margin-left: auto;
}

.headerItemSearch input{
    border-radius: 20px;
    height: 2.4rem;
    width: 13rem;
}

.headerItemSearch input :focus{
   outline: none;
   border: none;
}

.logo{
    padding: 1rem 0;
    object-fit: contain;
    width: 80px;
    display: inline;
}

.logoItem{
    padding-right: 1.7rem;
}

.headerItem{
    padding: 0.5rem;
    font-size: 15px;
}

.inputField{
    padding: 0.4rem;
    font-family:Arial, FontAwesome
}