main{
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(11, 12, 13);
}

.firstTextPadding{
    padding-left: 2rem;
}
    
 .boxContent{
    flex: 1;
 }

.FirstBox{
    background-color: rgb(23, 26, 26);
    display: flex;
    flex-direction:row;
    align-items: center;
    box-sizing: border-box;
}

.boxFirst{
    flex: 1.5;
}

.noWrap{
    flex: 0 0 50%;
    padding-bottom: 2rem;
    
}

.content{
    width: 80%;
}

.contentPadding{
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.frontCard{
    min-height: 20rem;
    background-color: rgb(23, 26, 26); 
}

.themeBox{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content:space-between;
}

.theme{
    color: white;
    font-size: 22px;
}

 .bigFont{
    font-size: 24px;
 }


 